<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="w-auto lg:w-[500px]">
    <label for="name" class="block mb-2 text-sm font-medium">Nombre</label>
    <input
      id="name"
      type="text"
      class="bg-gray-50 border border-gray-300 text-teal-700 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-400 focus:ring-teal-700 focus:border-teal-700 hover:ring-teal-700 hover:border-teal-700"
      placeholder="Angular"
      formControlName="name"
      required
    />
    @if (nameIsInvalid) {
    <p class="my-1 text-xs font-medium text-red-600">Valida este campo</p>
    }
  </div>
  <div>
    <label for="description" class="block mb-2 text-sm font-medium"
      >Descripción</label
    >
    <textarea
      id="description"
      type="text"
      class="bg-gray-50 border border-gray-300 text-teal-700 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-400 focus:ring-teal-700 focus:border-teal-700 hover:ring-teal-700 hover:border-teal-700"
      placeholder="Un curso de Angular"
      formControlName="description"
      required
    ></textarea>
    @if (descriptionIsInvalid) {
    <p class="my-1 text-xs font-medium text-red-600">Valida este campo</p>
    }
  </div>
  <div>
    <label for="duration" class="block mb-2 text-sm font-medium"
      >Duración</label
    >
    <input
      id="duration"
      type="text"
      class="bg-gray-50 border border-gray-300 text-teal-700 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-400 focus:ring-teal-700 focus:border-teal-700 hover:ring-teal-700 hover:border-teal-700"
      placeholder="35 horas"
      formControlName="duration"
      required
    />
    @if (durationIsInvalid) {
    <p class="my-1 text-xs font-medium text-red-600">Valida este campo</p>
    }
  </div>
  <div>
    <label for="level" class="block mb-2 text-sm font-medium">Nivel</label>
    <input
      id="level"
      type="text"
      class="bg-gray-50 border border-gray-300 text-teal-700 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-400 focus:ring-teal-700 focus:border-teal-700 hover:ring-teal-700 hover:border-teal-700"
      placeholder="Intermedio"
      formControlName="level"
      required
    />
    @if (levelIsInvalid) {
    <p class="my-1 text-xs font-medium text-red-600">Valida este campo</p>
    }
  </div>
  <div>
    <label for="price" class="block mb-2 text-sm font-medium">Precio</label>
    <input
      id="price"
      type="number"
      class="bg-gray-50 border border-gray-300 text-teal-700 text-sm rounded-lg block w-full p-2.5 placeholder:text-gray-400 focus:ring-teal-700 focus:border-teal-700 hover:ring-teal-700 hover:border-teal-700"
      placeholder="1250"
      formControlName="price"
      required
    />
    @if (priceIsInvalid) {
    <p class="my-1 text-xs font-medium text-red-600">Valida este campo</p>
    }
  </div>
  <div class="mt-5 flex flex-col items-center justify-center w-full">
    <button
      class="min-w-full md:min-w-[140px] rounded-full py-1 px-5 bg-cyan-600 border-teal-600 font-normal text-black disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer hover:opacity-90"
      type="submit"
      [disabled]="form.invalid"
    >
      Agregar
    </button>
  </div>
</form>
