<div
  class="rounded-3xl w-[320px] md:w-[350px] border border-2 border-gray-300 overflow-hidden hover:shadow-xl transition-shadow duration-300"
>
  <div>
    <img src="/assets/images/default-course.png" alt="" />
  </div>
  <div class="p-5">
    <div class="mb-4">
      <span class="text-teal-700">
        <span class="text-gray-600">by</span> Netec</span
      >
      <h4 class="text-2xl font-semibold mt-3">
        {{ course.name }}
      </h4>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-row gap-6">
        <div class="flex justify-center items-center flex-row gap-2">
          <img
            class="w-[16px] h-[16px]"
            src="/assets/icons/watch.svg"
            aria-hidden="true"
            alt=""
          />
          <span>{{ course.duration }}</span>
        </div>
        <div class="flex justify-center items-center flex-row gap-2">
          <img
            class="w-[16px] h-[16px]"
            src="/assets/icons/level.svg"
            aria-hidden="true"
            alt=""
          />
          <span>{{ course.level }}</span>
        </div>
      </div>
      <hr class="my-4 border border-gray-200" />
      <div class="flex flex-row gap-2">
        <span class="text-gray-500 line-through">{{
          course.price + getRandomNumber()
            | currency : "USD" : "symbol" : "1.0-0"
        }}</span>
        <span class="text-red-600">{{
          course.price | currency : "USD" : "symbol" : "1.0-0"
        }}</span>
      </div>
    </div>
  </div>
</div>
