<section class="mb-10 md:mb-0 px-4 md:px-[100px] lg:px-[150px]">
  <h2 class="text-3xl font-semibold mb-8">Administra los cursos</h2>
  <button
    routerLink="/agregar"
    class="mb-5 min-w-full md:min-w-[140px] rounded-full py-1 px-5 bg-cyan-600 border-teal-600 font-normal text-black disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer hover:opacity-90"
  >
    Agregar curso
  </button>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <app-table
      [courses]="courses()"
      (updated)="handleUpdate($event.id)"
      (removed)="handleRemove($event.id)"
    />
  </div>
</section>
